@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.rs__control {
  @apply rounded-lg !important
}

.rs__value-container {
  @apply px-3 py-2.5 !important
}
